body {
    background-color: lavender;
    color: darkslateblue;
    text-align: center;
}
h3 {
    text-align: center; 
}
.main-section {
    text-align: center;
    list-style-position: inside;
  }
img {
    border-style: dashed darkslateblue;
    border-radius: 10px;

}