body {
    background-color: lavender;
    color: darkslateblue;
    text-align: center;
}
h3 {
    text-align: center; 
}
.main-section {
    text-align: center;
    list-style-position: inside;
  }
img {
border-radius: 10px;

}
h1 {
    font-family: Verdana sans-serif;
}
.heading {
    font-family: Verdana sans-serif;
}
